/*Add todo css*/

.flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.add-todo-container {
    width: 100%;
    height: 50%;
}


.add-todo-form {
    width: 100%;
    height: 100%;
    padding: 0.5em;
}

.add-todo-input {
    height: 3em;
    border: none;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
    margin: 0.4em 0;
    width: 50%;
    font-size: 1.5em;
    text-align: center;
}
.add-todo-button {
}
.add-todo-textarea {
    text-align: center;
    height: 10em;
    resize: none;
}
