/*Add todo css*/

.flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.add-todo-container {
    width: 100%;
    height: 50%;
}


.add-todo-form {
    width: 100%;
    height: 100%;
    padding: 0.5em;
}

.add-todo-input {
    height: 2em;
    border: none;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
    margin: 0.4em 0;
    width: 30%;
}
.add-todo-button {
}
.add-todo-textarea {
    height: 30%;
}
