body,html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    font-family: Helvetica;
}

* {
    font-family: inherit;
    box-sizing: inherit;
}

.flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.app-container {
    width: 100%;
    min-height: 100vh;
    background-color: #efefef;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav {
    height: 3em;
    width: 100%;
    background-color: grey;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
    margin-bottom: 1em;
    font-size: 2em;
}
